:root {
  --navHeight: 10px;
  --navLinkColor: #000;
  --navLinkColorHover: rgb(14, 0, 214);
}

.navHeader {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: var(--navHeight) 12%;
}

.logo {
  cursor: pointer;
  /* just change order left or right */
  font-weight: 700;
  font-size: 22px;
  order: 0;
  margin-right: auto;
}

#nav {
  font-weight: 500;
  font-size: 16px;
  color: var(--navLinkColor);
  /* just change order left or right */
  order: 1;
}

.nav__links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__links > li {
  padding: 0px 30px;
}

.nav__links > li > span {
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.nav__links > li span:hover {
  color: var(--navLinkColorHover);
}

#navButton {
  padding: 9px 25px;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
  /* just change order left or right */
  order: 3;
}
